In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
x= dataset.drop(columns=['User ID','Gender','Purchased'])
y= dataset['Purchased']                        
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train ,y_test = train_test_split(x,y,test_size=0.25 , random_state=0)

In [53]:
from sklearn.preprocessing import StandardScaler
x_scaled = StandardScaler()
x_train= x_scaled.fit_transform(x_train)
x_test= x_scaled.fit_transform(x_test)

In [54]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=0)
model.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [47]:
model_pred_test=model.predict(x_test)
model_pred_train = model.predict(x_train)

In [48]:
from sklearn.metrics import confusion_matrix
cm_train = confusion_matrix(y_train ,model_pred_train )
cm_test = confusion_matrix(y_test ,model_pred_test )
cm_train

array([[172,  17],
       [ 36,  75]], dtype=int64)

In [49]:
cm_test

array([[63,  5],
       [ 8, 24]], dtype=int64)

In [51]:
from sklearn.metrics import accuracy_score
acc_train = accuracy_score(y_train ,model_pred_train)
acc_test = accuracy_score(y_test ,model_pred_test)
acc_train

0.8233333333333334

In [52]:
acc_test

0.87