In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
data_input = dataset.iloc[:, 2:4]
data_output = dataset.iloc[:, 4]

In [9]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(data_input , data_output , test_size=0.3 , random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
scaled = StandardScaler()
x_train=scaled.fit_transform(x_train)
x_test=scaled.fit_transform(x_test)

In [11]:
from sklearn.naive_bayes import GaussianNB
model= GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [12]:
naive_pred=model.predict(x_test)

In [19]:
from sklearn.metrics import confusion_matrix
naive_cm_train = confusion_matrix(y_train , model.predict(x_train))
naive_cm_test = confusion_matrix(y_test , model.predict(x_test))
print('matrix of training is ',naive_cm_train)
print('matrix of test is ',naive_cm_test)

matrix of training is  [[165  13]
 [ 19  83]]
matrix of test is  [[73  6]
 [ 7 34]]

In [22]:
from sklearn.metrics import accuracy_score
naive_acc_train = accuracy_score(y_train , model.predict(x_train))
naive_acc_test = accuracy_score(y_test , model.predict(x_test))
print ('accuracy of training is' , naive_acc_train)
print ('accuracy of testing is' , naive_acc_test)

accuracy of training is 0.8857142857142857
accuracy of testing is 0.8916666666666667

In [24]:
dataset2 = pd.read_csv('heart.csv')
dataset2.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [27]:
data_input = dataset2.drop(columns=['target'])
data_output = dataset2['target']

In [29]:
from sklearn.model_selection import train_test_split
x_train , x_test ,y_train ,y_test = train_test_split(data_input , data_output ,test_size=0.3, random_state=0)

In [30]:
from sklearn.preprocessing import StandardScaler
scaled=StandardScaler()
x_train = scaled.fit_transform(x_train)
x_test = scaled.fit_transform(x_test)

In [43]:
from sklearn.tree import DecisionTreeClassifier
model2 = DecisionTreeClassifier(  random_state=0)
model2.fit(x_train , y_train)

DecisionTreeClassifier(random_state=0)

In [44]:
from sklearn.metrics import confusion_matrix
dt_cm_train = confusion_matrix(y_train , model2.predict(x_train))
dt_cm_test = confusion_matrix(y_test , model2.predict(x_test))
print('matrix of training is ',dt_cm_train)
print('matrix of test is ',dt_cm_test)

matrix of training is  [[ 94   0]
 [  0 118]]
matrix of test is  [[33 11]
 [13 34]]

In [45]:
from sklearn.metrics import accuracy_score
dt_acc_train = accuracy_score(y_train , model2.predict(x_train))
dt_acc_test = accuracy_score(y_test , model2.predict(x_test))
print ('accuracy of training is' , dt_acc_train)
print ('accuracy of testing is' , dt_acc_test)

accuracy of training is 1.0
accuracy of testing is 0.7362637362637363

In [50]:
from sklearn.ensemble import RandomForestClassifier
model3= RandomForestClassifier(n_estimators=400 , random_state=0)
model3.fit(x_train , y_train)

RandomForestClassifier(n_estimators=400, random_state=0)

In [48]:
from sklearn.metrics import confusion_matrix
rf_cm_train = confusion_matrix(y_train , model3.predict(x_train))
rf_cm_test = confusion_matrix(y_test , model3.predict(x_test))
print('matrix of training is ',rf_cm_train)
print('matrix of test is ',rf_cm_test)

matrix of training is  [[ 94   0]
 [  0 118]]
matrix of test is  [[32 12]
 [ 5 42]]

In [51]:
from sklearn.metrics import accuracy_score
rf_acc_train = accuracy_score(y_train , model3.predict(x_train))
rf_acc_test = accuracy_score(y_test , model3.predict(x_test))
print ('accuracy of training is' , rf_acc_train)
print ('accuracy of testing is' , rf_acc_test)

accuracy of training is 1.0
accuracy of testing is 0.8131868131868132